/* template-header */

.template-header {
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    height: 100px;
    padding: 0 168px;
    position: relative;
}

.menu-btn {
    position: absolute;
    left: 43px;
}



/* template-main */
.template-main {
    background: #FFF5E0;
    padding: 78px 168px;
}

/* template-totals */
.template-totals {
    background: #FFFFFF;
    padding: 56px 168px;
}

.rounded-6 {
    border-radius: 6px !important;
}

.template-totals .subdiv {
    padding: 16px;
    background: #FFF5E0;
    border-radius: 6px;
}

.template-totals .subdiv .rounded-6 {
    height: 98px;
    width: 98px;
}


/* template-content */
.template-content {
    padding: 0 168px 70px 168px;
    background-color: white;
}

.template-content .column-sub {
    background: #FFFCF6;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.p-24px {
    padding: 24px;
}

.property-list svg.responsive-svg {
    height: 338px;
    width: 338px;
    border-radius: 8px;
}

.property-list svg.responsive-svg rect {
    height: 338px;
    width: 338px;
}

.pb-32px {
    padding-bottom: 32px;
}

.mb-32px {
    margin-bottom: 32px;
}

.w-160px {
    width: 160px;
}

.property-list:last-child {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.all-agents:last-child {
    margin-bottom: 0 !important;
}

.all-agents {
    margin-bottom: 32px;
}

.list-scroll {
    height: 1600px;
    overflow-y: auto;
    padding: 16px 24px;
}

.p16-24 {
    padding: 16px 24px;
}


/* featured-properties */
.featured-properties {
    padding: 0 168px 70px 168px;
    background-color: white;
}

.featured-properties .right-arrows-svg path {
    fill: var(--light-black);
}

/* .row1featured-properties:last-child .section3card {
    margin: 0 !important;
}
.row2featured-properties:last-child .section3card {
    margin: 0 !important;
} */
/* @media screen and (max-width:991px) {
    .row1featured-properties:nth-child(even) .section3card {
        margin: 0 !important;
    }

    .row2featured-properties:nth-child(even) .section3card {
        margin: 0 !important;
    }

    .template-totals:nth-child(even) .subdiv {
        margin: 0 !important;
    }
} */

@media screen and (max-width:1440px) {
    .template-header {
        padding: 0 130px !important;
    }

    .landing-footer {
        padding: 48px 130px 26px 130px !important;
    }

    .template-content {
        padding: 0 130px 70px 130px !important;
    }

    .featured-properties {
        padding: 0 130px 70px 130px;
    }

    .template-main {
        padding: 78px 130px !important;
    }

    .template-totals {
        padding: 56px 130px !important;
    }
}

@media screen and (max-width:1140px) {
    .template-header {
        padding: 0 100px !important;
    }

    .landing-footer {
        padding: 48px 100px 26px 100px !important;
    }

    .template-content {
        padding: 0 100px 70px 100px !important;
    }

    .template-main {
        padding: 78px 100px !important;
    }

    .template-totals {
        padding: 56px 100px !important;
    }

    .featured-properties {
        padding: 0 100px 70px 100px;
    }
}

@media screen and (max-width:800px) {
    .template-header {
        padding: 0 70px !important;
    }

    .landing-footer {
        padding: 48px 70px 26px 70px !important;
    }

    .template-content {
        padding: 0 70px 70px 70px !important;
    }

    .template-main {
        padding: 70px !important;
    }

    .template-totals {
        padding: 56px 70px !important;
    }

    .featured-properties {
        padding: 0 70px 70px 70px;
    }

    .image-gallery-left-nav svg {
        width: 70% !important;
    }

    .image-gallery-right-nav svg {
        width: 70% !important;
    }


}

@media screen and (max-width:768px) {
    .property-list svg.responsive-svg {
        height: 230px;
        width: 100%;
    }

    .property-list svg.responsive-svg rect {
        height: 230px;
        width: 100%;
    }

    .w-160px {
        width: 100%;
    }

    .image-gallery-left-nav svg {
        width: 60% !important;
    }

    .image-gallery-right-nav svg {
        width: 60% !important;
    }

    .teamname-s1 {
        height: 200px;
        width: 200px;
    }

    .teamname-s1 {
        height: 200px;
        width: 200px;
    }

    .template6section1 {
        top: -100px !important;
        height: 250px !important;
    }
}

@media screen and (max-width:600px) {
    .property-list svg.responsive-svg {
        height: 230px;
        width: 100%;
    }

    .property-list svg.responsive-svg rect {
        height: 230px;
        width: 100%;
    }

    .w-160px {
        width: 100%;
    }

    .image-gallery-left-nav svg {
        width: 50% !important;
    }

    .image-gallery-right-nav svg {
        width: 50% !important;
    }

    .image-gallery-slide .image-gallery-image {
        width: 100% !important;
        border-radius: 8px !important;
    }

    .template6section1 {
        height: 300px !important;

    }
}

@media screen and (max-width:991px) {
    .image-gallery-left-nav svg {
        width: 80%;
    }

    .image-gallery-right-nav svg {
        width: 80%;
    }


}

@media screen and (min-width:600px) {
    .image-gallery-slide .image-gallery-image {
        width: 60% !important;
        border-radius: 8px !important;
    }



}


.image-gallery-thumbnail {
    border-radius: 5px !important;
    opacity: 0.5;
}

.image-gallery-thumbnail img {
    border-radius: 5px !important;
}

.image-gallery-thumbnail.active {
    border: 3px solid #CCA353 !important;
    opacity: 1 !important;
    border-radius: 8px !important;
}

.image-gallery-icon {
    filter: none;
    padding: 0 !important;
}

.h-40px {
    height: 40px !important;
}

.list-scroll-720 {
    height: 720px !important;
    overflow-y: auto;
    padding: 16px 24px;
}

.template6section1 {
    position: relative;
    top: -80px;
    height: 206px;

}

.building-section {
    min-height: 200px !important;
}

.selecttemplate-s1 {
    position: relative;
    margin-bottom: 80px;
}

.selecttemplate-s1 img {
    min-height: 150px !important;
}

.selecttemplate-s1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.line-height-100 {
    line-height: 100% !important;
}

.gap-24 {
    gap: 24px !important;
}

.bb-2px {
    border-bottom: 2px solid !important;
}

.h-56px {
    height: 56px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-30px {
    padding-bottom: 30px !important;
}

.p-30px {
    padding: 30px !important;
}

.mb-30px {
    margin-bottom: 30px !important;
}

a:hover {
    color: inherit !important;
}

.w-118px {
    width: 118px !important;
}

.is-valid {
    outline: 2px solid red !important;
}

#billingdetail .ReactModal__Content {
    overflow-y: auto !important;
    width: 780px !important;
    height: 784px !important;
    border-radius: 0 !important;
    top: 100px;
}

.px-8rem {
    padding: 0 8rem !important;
}

@media screen and (max-width:768px) {
    .px-8rem {
        padding: 0 4rem !important;
    }
}

@media screen and (max-width:500px) {
    .px-8rem {
        padding: 0 !important;
    }
}